.embed-container {
    position: relative;
    padding-bottom: 15px;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.body-link-vdo {
    padding-left: 0px;
    padding-right: 0px;
}

.body-link-vdo ul li {
    position: relative;
    display: block;
    padding-bottom: 10px;
    width: 100%;
}

.body-link-vdo ul li {
    float: left;
}

.body-link-vdo ul li {
    float: none;
}

.body-link-vdo ul li {
    margin-top: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.bg-circle {
    margin-top: 6px;
    margin-left: 10px;
}

.circle-none {
    background: #9e9e9e;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}

.circle-left {
    background: green;
    height: 30px;
    width: 16px;
    border-bottom-left-radius: 52px;
    border-top-left-radius: 52px;
    margin-right: 14px;
}

.circle-full {
    background: green;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}


////////////////////////@at-root


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%;
        top: calc(100vh - 95%);
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-green {
    background: #28a745;
    color: #fff;
    font-size: 22px;
    padding: 1px 10px;
    border-radius: 30px;
}

.btn-red {
    background: red;
    color: #fff;
    font-size: 22px;
    padding: 1px 10px;
    border-radius: 30px;
}

a img {
    -webkit-appearance: none;
}

.user-review {
    width: 100%;
}

.rating {
    float: left;
}

.rating:not(:checked)>input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    /* width: 1em; */
    padding: 0 .1em;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    cursor: pointer;
    /* font-size: 150%; */
    /* line-height: 1.2; */
    color: #58575b;
    // text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>input:checked~label {
    color: #ffa500;
    // text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ffa500;
    // text-shadow: 1px 1px #000, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ffa500;
    // text-shadow: 1px 1px #000, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}
.rating:not(:checked) > label:before {
    font-family: 'Font Awesome 5 Free';
   content: '\f005';
       -webkit-font-smoothing: antialiased;
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   line-height: 1;
   font-weight: 900;
   font-size: 18px;
}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}
.progress-bar {
    background-color: #ffa501;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.bg-green {
    background-color: #00a65a !important;
}
.small, small {
    font-size: 85%;
}
#Curriculum {
    .right {
        .a1, .a2, .a3, .a4 {
            margin-left: 5px;
        }
    }
}