section.seccart {
    padding-bottom: 1px;
    .panel {
        border: 1px solid #EBE9F2;
        border-radius: 8px;

        .blog-panel {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            font-size: 30px;
            text-align: center;
            color: #fff;

            .blog1 {
                width: 75%;
                background: #28BEE3;
                border-top-left-radius: 8px;
                border-right: 2px solid rgb(255, 255, 255);
            }

            .blog2 {
                width: 25%;
                background: #28BEE3;
                border-top-right-radius: 8px;
            }

            .blog3 {
                width: 100%;
                background: #28BEE3;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }

        .blog-list {
            padding: 10px;

            .CoursesItem-list {
                position: relative;
                padding: 10px;

                .close {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }

                .price {
                    form {
                        span {
                            font-size: 18px
                        }

                        label {
                            margin-top: 0px;
                        }

                        .form-control {
                            padding: 0px 8px;
                        }
                    }
                }
                hr {
                    width: 100%;
                }
            }
        }

    }

    .card {
        &:hover {
            background-color: #fff6df;
        }
    }
}