// $textcolor: #038FE1;

section.Home {
    #slide_banner {
        .item {
            img {
                // height: 500px;
                object-fit: cover;
                @media (max-width: 767px) {
                    height: 220px;
                }
            }
        }
    }

    /////////////////////////////////


    #Great_Teacher {

        .item {
            text-align: center;

            .detail {
                color: #ACACAC;
            }

            .img {
                text-align: center;
                width: 100%;

                img {
                    max-width: 200px;
                    display: unset;
                    border: 5px solid #fff;
                    border-radius: 100%;
                    box-shadow: 0px 0px 10px #a9a9a9;
                }
            }
        }
    }

    .Getup_Teacher {

        img {
            box-shadow: 0px 0px 10px #a9a9a9;
        }

        .text {
            color: #ACACAC;

            .calendar {
                margin-top: 10px;

                span {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }

        .details1 {
            margin-bottom: 6%;
        }

        .details2 {
            margin-bottom: 15px;

            &:hover {
                img {
                    box-shadow: 0px 0px 18px #adadad;

                }
            }
        }
    }

    .Reviews {
        background: #28BEE3;
        color: #fff;
        padding-bottom: 5%;

        .title {
            color: #fff;

            h1 {
                &:before {
                    background: #fff;
                }
            }
        }

        #Reviews {
            .boxx {
                background: #fff;
                float: left;
                color: #000;
                // margin-top: 10%;
                // margin-bottom: 10%;
                padding: 5%;
                border-radius: 8px;
                width: 100%;

                .detail {
                    .user {
                        .img {
                            text-align: center;

                            img {
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                display: unset;
                                border-radius: 100%;
                                border: 2px solid #F898E1;
                                margin-bottom: 8px;
                            }
                        }

                        .name {
                            text-align: center;
                            
                            span {
                                background: rgb(252, 212, 243);
                                color: rgb(249, 21, 195);
                                border-radius: 10px;
                                padding: 0 10px;
                            }
                        }
                    }
                    .text {
                        height: 115px;
                        overflow: hidden;
                    }
                }
            }
        }

        .owl-dots {
            button {
                span {
                    width: 80px;
                    background: rgb(255, 255, 255);
                }

                &.active {
                    span {
                        background: #038FE1;
                    }
                }
            }
        }
    }

    .GETUP_BLOG {

        .boxx {
            box-shadow: 0px 0px 10px #a9a9a9;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;

            img {
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
                height: 255px;
                object-fit: cover;

                &:hover {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .text {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                color: #fff;
                padding: 10px;
                line-height: 1;

                span {
                    font-size: 28px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 24px;
                    @media (max-width: 767px) {
                        font-size: 25px;
                    }
                }
            }
        }

    }
}